#navbar h1 {
    text-align: center;
    background-color: saddlebrown;
    color: white;
    padding: 10px;
}

#studentInput {
    /* border: 1px solid black; */
    margin: 20px;
    width: 40%;
}
#studentInput form {
    display: flex;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 20px;
    font-size: 2rem;
    width: 40%;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 60%;
}
.inputs input {
    padding: 5px 15px;
    min-width: 50%;
    max-width: 80%;
    font-size: 1.4rem;
    outline: none;
}
.gender {
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    gap: 25%;
}
.radioInput {
    font-size: 1.3rem;
}
.radioInput input {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
.skills {
    padding: 20px;
    font-size: 2rem;
    display: flex;
    width: 100%;
    gap: 30%;
}
.skillCheckbox {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.skillCheckbox label {
    font-size: 1.3rem;
}
.skillCheckbox input {
    width: 20px;
    height: 20px;
}

.buttons {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 50px;
}
.buttons button {
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
    font-size: 1.2rem;
    cursor: pointer;
}
.buttons button:nth-child(1) {
    background-color: #27005d;
    color: #e4f1ff;
}
.buttons button:nth-child(1):hover {
    background-color: #9400ff;
}

.buttons button:nth-child(2) {
    background-color: red;
    color: white;
}
.buttons button:nth-child(2):hover {
    background-color: #0011ffd7;
}

.main {
    display: flex;
    justify-content: center;
}

#showData {
    margin: 20px;
    width: 50%;
}

#showData h1 {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    letter-spacing: 2px;
}
#showData #header {
    display: flex;
    align-items: center;
    padding: 5px 100px;
    justify-content: space-between;
    background-color: #836767;
    color: white;
}
.details p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #756161;
}
.details p a {
    color: #5a3a86;
}

.student {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    margin: 10px;
    box-shadow: 2px 4px 5px black;
}
.student .details {
    line-height: 33px;
}
.image {
    /* border: 2px solid black; */
    width: 200px;
    height: 200px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
